
body{
    overscroll-behavior: inherit;
}


@media only screen and (min-width: 1200px){

    header+div{
        height: 130%;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1249px){

    header+div{
        height: 170%;
    }
}